@import "../../css/mixins";

@include i-phone-retina() {
  li {
    height: 47px;
    color: #989898;
    padding: 0 0 0 10px;
    cursor: pointer;
    border-radius: 2px;
    border-bottom: 1px solid #eaeaea;
    div.row {
      span.tag {
        background-color: #333;
        padding: 5px 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        width: 70px;
        color: #fff;
        font-size: 12px;
        float: left;
        margin: auto 0;
        font-weight: bold;
        text-align: center;
        &.tag-A {
          background-color: #f2817f;
        }
        &.tag-C {
          background-color: #6eb8fa;
        }
        &.tag-D {
          background-color: #70d58e;
        }
        &.tag-S {
          background-color: #9d9dbb;
        }
        &.tag-P {
          background-color: #ffa981;
        }
      }
      .item-info {
        width: 100%;
        float: left;
        font-size: 14px;
        &:nth-child(2) {
          font-size: 85%;
        }
      }
    }
  }
}