@import "./mixins";
@import "../containers/PickupLocationForm/PickupLocationForm";
@import "../components/SearchPreview/SearchPreview";
@import "../components/SearchPreviewItem/SearchPreviewItem";

@include extra-small() {
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    position: relative;
  }
}